<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE TS OPTIMIZER</title>
    <link th:href="@{/css/normalize.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style_task_add_info.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/error_msg.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/sub_table.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="top-image-area" th:include="/common.html::body-header">
    </header>
    <main>
        <div class="titlebar-container">
            <div class="titlebar">
                <h1 class="title">タスク追加・削除</h1>
            </div>
        </div>
        <div>
            <!-- main field -->
            <div class="main-area">
                <!-- 機能説明 -->
                <article>
                    <h1>Description</h1>
                    <p>タスク情報を登録します。</p>
                    <p>「既に登録済みのタスク一覧」から登録済みのタスクを確認できます。また、<br>
                        　不必要なタスク情報の削除も行えます。</p>
                    <p>存在しない年月日を入力した場合は、自動でその月の最終日に設定されます。</p>
                </article>

                <!-- ここから機能部分 基本的にはここだけ修正する。その他は共通 -->
                <div>
                    <!-- タイトル -->
                    <h1 class="sub-title">追加したいタスクを入力してください。</h1>
                    <!-- フォーム入力箇所 -->
                    <div class="sub-main1">
                        <form th:object="${taskForm}" th:action="@{'/task'}" method="post">
                            <ul>
                                <li>タスクコード
                                    <p><select class="select-box minimal" th:field="*{projectId}">
                                            <option th:each="project : ${currentProjectList}" th:value="${project.id}">
                                                [[${project.code}]] : [[${project.name}]]
                                            </option>
                                        </select>　＋
                                        <input class="text-box task-code" type="text" placeholder="IDを入力"
                                            th:field="*{projectCodeId}"><br>
                                        入力チェック：<input class="text-box check-text" type="text"
                                            placeholder="あとでjsでいい感じにする" onKeyUp="alertValue(this)">
                                        <span class="error-msg" th:errors="*{projectCodeId}"></span>
                                    </p>
                                </li>
                                <li>チャージコード
                                    <p><select class="select-box minimal" th:field="*{chargeId}">
                                            <option th:each="charge : ${currentChargeList}" th:value="${charge.id}">
                                                [[${charge.code}]] : [[${charge.name}]]
                                            </option>
                                        </select></p>
                                </li>
                                <li>タスク名
                                    <p><input class="text-box" type="text" th:field="*{detail}" placeholder="タスク名を入力">
                                    </p>
                                    <span class="error-msg" th:errors="*{detail}"></span>
                                </li>
                                <li>期日
                                    <p><select class="select-box minimal" name="year">
                                            <option th:each="code : ${codeList}" th:if="${code.genre == 'year'}"
                                                th:value="${code.code}" th:text="${code.name}"
                                                th:selected="${code.code}==${year}">
                                            </option>
                                        </select><span class="date"> 年 </span>
                                        <select class="select-box minimal" name="month">
                                            <option th:each="code : ${codeList}" th:if="${code.genre == 'month'}"
                                                th:value="${code.code}" th:text="${code.name}"
                                                th:selected="${code.code}==${month}">[[${code.name}]]
                                            </option>
                                        </select><span class="date"> 月 </span>
                                        <select class="select-box minimal" name="day">
                                            <option th:each="code : ${codeList}" th:if="${code.genre == 'day'}"
                                                th:value="${code.code}" th:text="${code.name}"
                                                th:selected="${code.code}==${day}">[[${code.name}]]
                                            </option>
                                        </select><span class="date"> 日 </span></p>
                                </li>
                                <li>ステータス
                                    <p><select class="select-box minimal" th:field="*{status}">
                                            <option th:each="code : ${codeList}" th:if="${code.genre == 'status'}"
                                                th:value="${code.name}">[[${code.name}]]
                                            </option>
                                        </select></p>
                                </li>
                                <li>進捗(%)
                                    <p><select class="select-box minimal" th:field="*{progressRate}">
                                            <option th:each="code : ${codeList}" th:if="${code.genre == 'progress_rt'}"
                                                th:value="${code.name}">[[${code.name}]]
                                            </option>
                                        </select></p>
                                </li>
                            </ul>
                            <p>
                                <input class="submit1" type="submit" value="追加">
                                <input class="submit2" type="reset" value="リセット">
                            </p>
                        </form>
                    </div>
                    <!-- すでに登録済みのプロジェクト情報を表示する -->
                    <div class="sub-main2">
                        <h1 class="sub-title">️すでに登録済みのタスク一覧</h1>
                        <div class="sub-table" th:each="project : ${currentProjectList}">
                            <p class="project-name" th:text="${project.name}">プロジェクト名</p>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-name">
                                            <div>タスクコード</div>
                                        </th>
                                        <th class="column-name">
                                            <div>タスク名</div>
                                        </th>
                                        <th class="column-name">
                                            <div>完了期日</div>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="task : ${currentTaskList}" th:if="${project.id == task.projectId.id}">
                                        <td class="col-code" th:text="${task.code}"></td>
                                        <td class="col-name" th:text="${task.detail}"></td>
                                        <td class="col-name" th:text="${task.deadlineDate}"></td>
                                        <td class="col-delete">
                                            　　<form name="delform" th:object="${taskForm}"
                                                th:action="@{'/task/task-add-info/delete/' + ${task.id}}" method="post">
                                                <input id="alert_delete" class="submit" type="submit" value="削除">
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- left side menu -->
            <div class="left-navi" th:include="/common.html::left-navi">
            </div>
        </div>
    </main>

    <div class="footer" th:include="/common.html::footer">
    </div>
</body>

</html>