<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE TS OPTIMIZER</title>
    <link th:href="@{/css/normalize.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style_task_list.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="top-image-area" th:include="/common.html::body-header">
    </header>
    <main>
        <div class="titlebar-container">
            <div class="titlebar">
                <h1 class="title">タスク一覧</h1>
            </div>
        </div>
        <div>
            <!-- main field -->
            <div class="main-area">
                <!-- 機能説明 -->
                <article>
                    <h1>Description</h1>
                    <p>プロジェクトごとに、タスク一覧を表示します。</p>
                    <p><a style="color:blue;text-decoration: underline;">"タスク名"</a>をクリックすると、作業状況を記録できるタスク編集画面へと遷移します。</p>
                </article>

                <!-- ここから機能部分 基本的にはここだけ修正する。その他は共通 -->
                <div>
                    <div th:each="project : ${project_lists}">
                        <table>
                            <p class="project-name" th:text="${project.name}">プロジェクト名</p>
                            <thead>
                                <tr>
                                    <th scope="col">タスクID</th>
                                    <th scope="col">チャージコード</th>
                                    <th scope="col">タスク名</th>
                                    <th scope="col">完了期日</th>
                                    <th scope="col">進捗状況</th>
                                    <th scope="col">進捗度(%)</th>
                                    <th scope="col">進行中タスク</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="task : ${task_lists}" th:if="${project.id == task.projectId.id}">
                                    <td data-label="タスクID" class="task-id" th:text="${task.code}"></td>
                                    <td data-label="チャージコード" class="charge" th:text="${task.chargeCode.code}"></td>
                                    <td data-label="タスク名" class="task-name">
                                        <a th:href="@{'/task/' + ${task.id}}" th:text="${task.detail}"></a>
                                    </td>
                                    <td data-label="完了期日" class="deadline" th:text="${task.deadlineDate}"></td>
                                    <td data-label="進捗状況" class="status" th:text="${task.status}"></td>
                                    <td data-label="進捗度(%)" class="status-rt" th:text="${task.progressRate}"></td>
                                    <td data-label="進行中タスク" class="proceeding">default</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- left side menu -->
            <div class="left-navi" th:include="/common.html::left-navi">
            </div>
        </div>
    </main>

    <div class="footer" th:include="/common.html::footer">
    </div>

</body>

</html>