<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title th:text="タスク一覧" >タスク詳細編集画面</title>
	<link th:href="@{/css/style_headlist.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/style_task_edit.css}" rel="stylesheet" type="text/css">
</head>
<body class="task-list">
  <div class="header"  th:include="/common.html::headlist"></div>
<p style="margin-bottom:3em;"></p>  

<div th:with="data=${task_detail_data}">
  <!-- タイトル -->
  <div>
    <h1 th:text="|${data.code} : ${data.detail}|">タスクコード：タスク詳細</h1>
  </div>
  <!-- リスト -->
  <div>
    <p style="margin-bottom:1em;"></p>
  </div>
  <div>
    <form th:object="${taskDetailForm}"
          th:action="@{'/task/edit/' + ${data.id}}" method="post">
      <div>    
        <a th:each="code : ${codeList}"
           th:if="${code.genre == 'status' && data.status == code.name}"
           th:text="|ステータス：「 ${data.status} 」 から |">ステータス：</a>
        <select th:field="*{status}">
          <option th:each="code : ${codeList}"
                  th:if="${code.genre == 'status'}"
                  th:value="${code.name}">[[${code.name}]]
          </option>
        </select><a> へと変更</a>
        <p style="margin-bottom:1em;"></p>
      </div>
      <div>
        <a th:each="code : ${codeList}"
           th:if="${code.genre == 'progress_rt' && data.progressRate == code.name}"
           th:text="|進捗率(%)：「 ${data.progressRate} 」 から |">進捗率(%)：</a>
        <select th:field="*{progressRate}">
          <option th:each="code : ${codeList}"
                  th:if="${code.genre == 'progress_rt'}"
                  th:value="${code.name}">[[${code.name}]]
          </option>
        </select><a> へと変更</a>
        <p style="margin-bottom:1em;"></p>
      </div>
      <div>
        <p>内容：</p>
        <textarea th:text="${data.content}" name="content"></textarea>
        <p style="margin-bottom:1em;"></p>
      </div>
      <div>
        <p>課題：</p>
        <textarea th:text="${data.problem}" name="problem"></textarea>
        <p style="margin-bottom:1em;"></p>
      </div>
      <div>
        <p>予定：</p>
        <textarea th:text="${data.plan}" name="plan"></textarea>
        <p style="margin-bottom:1em;"></p>
      </div>
      <p>
        <input type="submit" value="更新">
        <input type="reset" value="リセット">
      </p>
        <p style="margin-bottom:5em;"></p>
    </form>
  </div>
</div>
</body>
</html>