
/* html */
html {
  background-color: #f0f0f0;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif; 
}

/* body */
*{
  margin: 0 auto;
  padding: 0 auto;
}

body,form,input{margin: 0}

.header{
  background-color:#000;
  height: 100px;
  box-shadow: 0 0 8px;
}

.header-logo{
  float: left;
  padding: 10px 20px 10px 20px;
}

.header-logo img{
  width: 140px;
  height: 80px;
}

.header-list ul li{
  list-style: none;
  float:left;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  padding: 30px 13px;
}

/* Table */

table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 10;
}

table th:first-child{ /* up right down left */
  border-radius: 0;
}

table th:last-child{
  border-radius: 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 12%;
  padding: 1px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 12%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

p{
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
