
form div textarea{
	margin: 10px 0px 10px 30px;
	width: 600px;
	height: 10em;
}

form p input {
	float: ;
	margin: 10px 0px 10px 10px;
	font-size: 15px;
	width: 600px;
	height: 20em;
}

form p input:first-child {
	float: ;
	font-size: 15px;
	margin: 10px 0px 10px 500px;
	width: 70px;
	height: 20em;
}

form p input:last-child {
	float: ;
	font-size: 15px;
	margin: 10px 0px 10px 10px;
	width: 70px;
	height: 20em;
}

/* ボタン */
.button {
	width: 70px;
	height: 10em;
}

li{
	font-size: 25px;
	color: #000;
	font-weight: bold;	
}

h1{
	font-size: 30px;
	color: #000;
	font-weight: bold;
}

p{
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
