
.sub-title {
	margin: 2rem 0 1rem 0;
	border-bottom: 2px solid #494848;
	font-size: 1.5rem;
}

.sub-title::before {
	content: "✔️ ";
}

.sub-main1 {
	position:relative;
}

.sub-main1 li, .sub-main2 li {
	margin: 0 0 0.5rem 2rem;
	padding: 0 0 0 0;
	font-size: 1.5rem;
}